services:
  alist:
    image: xhofe/alist:latest
    container_name: alist
    volumes:
      - ./config:/opt/alist/data
    ports:
      - default_port_1:5244
    environment:
      - PUID=0
      - PGID=0
      - UMASK=022
      - TZ=Asia/Shanghai
    restart: unless-stopped
