services:
  easyimage:
    image: ddsderek/easyimage:latest
    container_name: easyimage
    ports:
      - "default_port_1:80"
    environment:
      - TZ=Asia/Shanghai
      - PUID=1000
      - PGID=1000
    volumes:
      - ./config:/app/web/config
      - ./i:/app/web/i
    restart: unless-stopped
