services:
  portainer:
    image: portainer/portainer
    container_name: portainer
    ports:
      - "default_port_1:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data:/data
    restart: unless-stopped
